PROFILE_ACTIVE=prod
SERVER_ADDRESS=127.0.0.1
SERVER_PORT=18088
JAVA_OPTS=-Xms128m -Xmx384m -XX:MaxMetaspaceSize=128m

MYSQL_IP=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=wx
MYSQL_USERNAME=replace-me
MYSQL_PASSWORD=replace-me

REDIS_IP=127.0.0.1
REDIS_PORT=6379
REDIS_DATABASE=1
REDIS_PASSWORD=
